*,
*::after,
*::before,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p {
	margin: 0;
}
#section1 {
	background-image: url("./assets/banner.png");
	height: fit-content;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.section-para {
	width: 50%;
}
.links:hover {
	border-bottom: 2px solid #ffc107;
	cursor: pointer;
	transition: all 0.2s ease;
}

.dot-overlay {
	height: 170px;
	width: 170px;
	background: rgba(244, 244, 244, 0.3);
}
.dot {
	height: 150px;
	width: 150px;
	padding: 60px;
	cursor: pointer;
}
.dot p {
	font-size: 14px;
}
.card {
	height: fit-content;
	background: #f3f3f3;
	width: 100%;
	cursor: pointer;
	transition: all 0.3s ease;
}
.card:hover {
	background: rgb(225, 225, 225);
}

.side-border {
	height: 80px;
}
.card:hover > .side-border {
	border: 1px solid rgb(206, 206, 206);
	border-top: 0;
	border-bottom: 0;
}
.card-icon {
	height: 25px;
}

.card-main {
	color: #0096d5;
	font-size: 18px;
	font-weight: 600;
}
.card:hover > div > div > div > .card-main {
	color: #00b3ff;
}

.tool-tip {
	position: absolute;
	z-index: 50;
	top: -20px;
	right: -60px;
	background: #fff;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 10px;
	border-radius: 5px;
}
@media (max-width: 1000px) {
	.section-para {
		width: 90%;
	}
	.dot-overlay {
		height: 150px;
		width: 150px;
	}
	.dot {
		height: 130px;
		width: 130px;
	}
	.tool-tip {
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
@media (max-width: 800px) {
	.card {
		align-items: center;
	}
}